- Crear la tabla de races.db
- Importar datos desde races.csv
- Hacer un select * from ...
- Listar 10 primeras registros
- Agrupar por a単o
- Contar races por a単o
- Ordenar circuitos de forma decentente

## Importar cosas necesarias

In [ ]:
using Pkg
Pkg.add("SQLite")
Pkg.add("DataFrames")
Pkg.add("CSV")
Pkg.add("PrettyTables")

## Crear db

In [ ]:
import SQLite

# Create a new SQLite database.
db = SQLite.DB("races.db")

SQLite.execute(db, """
CREATE TABLE IF NOT EXISTS races (
    raceId INTEGER,
    year INTEGER,
    round INTEGER,
    circuitId INTEGER,
    name TEXT,
    date TEXT,
    time TEXT,
    url TEXT
);
""")

println("Database and table created successfully.")

## Importar datos a la db

In [ ]:
using SQLite
using DataFrames
using CSV

# Read CSV file into a DataFrame
df = CSV.read("races.csv", DataFrame)

# Inserty data in tables in SQLite database.
for row in eachrow(df)
    try
        SQLite.execute(db, "INSERT INTO races VALUES (?, ?, ?, ?, ?, ?, ?, ?)", Tuple(row))
    catch e
        println("Error inserting row: ", row)
        println("Error message: ", e)
    end
end

println("Data inserted successfully!")

## Hacer un "SELECT * FROM"

In [ ]:
using SQLite

# load SQLite database
db = SQLite.DB("races.db")

# Query the database to get all data
query = DBInterface.execute(db,"SELECT * FROM races")

# Print all row data in console.
for row in query
    println(row)
end

# Close database connection
SQLite.close(db)

## Listar los primeros 10 registros

In [ ]:
using SQLite
using DataFrames
using PrettyTables

# Load SQLite database
db = SQLite.DB("races.db")

# Query the database to get initial 10 rows
query = DBInterface.execute(db, 
    """
    SELECT * FROM races
    LIMIT 10
    """)
df = DataFrame(query)

# Print the DataFrame in a pretty table format
pretty_table(df)

# Close database connection
SQLite.close(db)

## Agrupar por a単o

In [ ]:
using SQLite
using DataFrames
using PrettyTables

# Load SQLite database
db = SQLite.DB("races.db")

# Query the database to get all data and sort by year and round
query = DBInterface.execute(db, """
SELECT year, COUNT(circuitId) AS total_circuit
FROM races
GROUP BY year
""")
df = DataFrame(query)

# Print the DataFrame in a pretty table format
pretty_table(df)

# Close database connection
SQLite.close(db)

# Contar races por a単o

In [ ]:
using SQLite
using DataFrames
using PrettyTables

# Load SQLite database
db = SQLite.DB("races.db")

# Query the database to get all data
query = DBInterface.execute(db, """
SELECT year, COUNT(raceId) AS total_races
FROM races
GROUP BY year
""")
df = DataFrame(query)

# Print the DataFrame in a pretty table format
pretty_table(df)

# Close database connection
SQLite.close(db)

## Ordenar circuitos de forma decentente

In [ ]:
using SQLite
using DataFrames
using PrettyTables

# Load SQLite database
db = SQLite.DB("races.db")

# Query the database order circuitId in descending order
query = DBInterface.execute(db, """
SELECT circuitId, COUNT(raceId) AS total_circuit
FROM races
GROUP BY circuitId
ORDER BY circuitId DESC;
""")
df = DataFrame(query)

# Print the DataFrame in a pretty table format
pretty_table(df)

# Close database connection
SQLite.close(db)